Suprios/SampleData/SampleLinkData/SampleLinkData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleLinkData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleLinkData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleLinkData" type="tns:SampleLinkData" />
  <xs:complexType name="SampleLinkData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Website URL" name="URL" type="xs:string" />
    <xs:attribute blend:FormatParameters="3,9" name="Title" type="xs:string" />
  </xs:complexType>
</xs:schema>